html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5rem;
  /* include your font family and default line-height */
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  margin: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

header nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

footer {
  text-align: center;
}


/* Default styling for all screens ends here */
main img {
  border-radius: 10px;
}

h2 {
  font-size: 2.5rem;
  margin: 0;
}

.product-title p, .cart-button {
  font-size: 1.5rem;
  margin: 1rem 0 0;
}

.product-title {
  margin: 1rem 0;
}

h4 {
  font-size: 1rem;
}

.money-tree h3 {
  font-weight: bold;
  font-size: 1.25rem;
}

.also-browsed h3, .people-saying h3 {
  font-weight: normal;
  font-size: 1.5rem;
}

.image-row {
  display: flex;
  gap: 1rem;
}

.browsed-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.details-care dl {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(4 auto);
  gap: 1rem;
}

.details-care dl dd {
  margin: 0 auto 0 0;
}

/* Add media query for tablet */




/* Add media query for desktop */
